<a href="https://colab.research.google.com/github/Sanjanamm/Basic_Programming_Assignment/blob/main/Programming_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to convert kilometers to miles?

In [ ]:
km = float(input("Enter value in kilometers:"))

conv = 0.621371
miles = km * conv
print('%0.2f kilometers is equal to %0.2f miles' %(km,miles))

Enter value in kilometers:3.5
3.50 kilometers is equal to 2.17 miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:

celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

3. Write a Python program to display calendar?

In [ ]:
import calendar

yy = 2022  # year
mm = 6   # month

# display the calendar
print(calendar.month(yy, mm))

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

4. Write a Python program to solve quadratic equation?

In [ ]:
import cmath

a = 1
b = 5
c = 6

d = (b**2) - (4*a*c)

# find two solution
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

5. Write a Python program to swap two variables without temp variable?

In [ ]:
x = 5
y = 7
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5